.form-calc {
    width:40%;
    height:100%;
    margin:10rem auto 0;
}

.credit-data {
    display:block;
    text-align: right;
    width:10rem;
    padding:5px;
    border: 2px solid var(--grey);
}
span, input{
    font-size: .8rem;
}
.progress-calc{
    margin: 1.5rem 0;
}
.texts div:nth-child(2){
    text-align:right;
}
.texts__main {
    text-transform:uppercase;
    font-weight: bold;
}
.texts__secondary {
    color: rgba(0,0,0,.3);
    font-size:.8rem;
}
.texts__secondary span {
    color:#000;
}
button {
    width:100%;
}