.navigation{
    display:flex;
    justify-content: space-between;
}
.navigation__dropdown {
    display:flex;
    align-items: center;
}

.language {
    display:block;
    background-color: transparent;
    border: none;
}
.button-login {
    margin-top:3rem;
}