:root {
    --grey:#E5E5E5;
    --progress-background-color:#ddd;
    --main-color : #b4cd3a;
}
html,body {
    height:100%;
}

nav {
    width:100%;
    height:4rem;
    background: var(--grey);
}
.form{
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%); 
}
.step-progress .container {
    height:100%;
    padding-top:1rem;
}
.step-progress span {
    font-size:1.2rem;
    font-weight:bold;
    color: var(--main-color);

}
.step-progress .progress{
    background: #FFF;
    height:10px;
    margin-bottom:0;
}
.info {
    width:70%;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    font-weight:200;
}
.active {
      color: var(--main-color);
}
.input-data {
    border:1px solid rgba(0,0,0,.2) !important;
}
.input-field {
    margin-bottom:0;
    padding:0;
}
.form-stepper {
    width:100%;
}
