<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Step3</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/step.css" />
</head>

<body id="app">
    <!-- <header>
        <nav class="navigation">
            <div>
                <img src="/pages/assets/logo.png" alt="logo">
            </div>
            <div class="navigation__dropdown ">
                <select v-change="method(ev)" class="language">
                    <option v-html="elem" value="EN">EN</option>
                    <option v-html="elem" value="PL">PL</option>
                </select>
            </div>
        </nav>
    </header> -->
    <section class="step-progress">
        <div class="container">
            <span v-html="elem">30%</span>
            <div class="progress">
                <div class="determinate" style="width: 0%"></div>
            </div>
            <div class="info">
                <p>Debt situation</p>
                <p><span class="active">Applicant</span></p>
                <p>Contact details</p>
            </div>
        </div>
    </section>
    <main class="container step3">
        <h5 class="center-align">Your contact information</h5>
        <form action="" class="form-stepper" v-submit="method(ev)">
            <div class="row">
                <div class="input-field col s6 push-s3 no-padding">
                    <span>Title</span>
                    <select class="browser-default no-padding">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
            </div>
            <div class="row names">
                <p class="col push-s3 no-padding names">What is your name?</p>
            </div>
            <div class="row names">
                <div class="input-field col s6 push-s3 no-padding ">
                    <input v-input="method(ev)" placeholder="First Name" id="first-name" type="text">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 push-s3 no-padding ">
                    <input v-input="method(ev)" placeholder="Last Name" id="last-name" type="text">
                </div>
            </div>
            <h5 class="center-align">Fill in the information about your partner</h5>
            <div class="row">
                <div class="input-field col s6 push-s3 no-padding">
                    <span>Title</span>
                    <select class="browser-default no-padding">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
            </div>
            <div class="row names">
                <p class="col push-s3 no-padding names">What is your partner's name?</p>
            </div>
            <div class="row names">
                <div class="input-field col s6 push-s3 no-padding ">
                    <input v-html="elem" v-input="method(ev)" placeholder="First Name" id="partner-first-name"
                        type="text">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 push-s3 no-padding ">
                    <input v-html="elem" v-input="method(ev)" placeholder="Last Name" id="partner-last-name"
                        type="text">
                </div>
            </div>
            <div class="row buttons">
                <button v-click="method(ev)"
                    class="col s2 push-s3 waves-effect waves-light btn button-back">BACK</button>
                <button v-click="method(ev)" class="col s2 push-s5 waves-effect waves-light btn">NEXT</button>
            </div>
        </form>
    </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>