<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body id="root">
    <div id="example" v-if="something === whatever" >
        <p v-html="elem" v-click="someMethod(ev)" class="child">tom</p>
    </div>
    <div id="example2">
        <input type="text" v-click="anotherMethod()" class="child" v-value="value1"/>
        <input type="text"  v-value="value1">
    </div>
</body>
</html>