/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --grey: #e5e5e5;
  --progress-background-color: #ddd;
  --main-color: #b4cd3a;
}
span, input{
    font-size: .8rem;
}
.input-field {
    margin-bottom:0;
    padding:0;
}
.error-data span.error-message {
    display:block;
    color:red;
    font-size: 10px;
}
.flex {
    display:flex;
    flex-direction: column;
}
.buttons {
    margin-top:3rem;
}

.names {
  margin-bottom: 0;
}
::ng-deep .mat-form-field-underline {
    display: none;
}
::ng-deep .mat-form-field-infix input {
  border-bottom: none !important;
}
::ng-deep .mat-form-field-flex {
    position: relative;
    height:60px;
}
::ng-deep .mat-form-field-infix input,
::ng-deep .mat-form-field-infix textarea {
    position:absolute;
    top: -5px;
}
::ng-deep app-language-toggler .mat-form-field-flex {
    height:initial;
}
