<section id="{{id}}">
    <main class="container">
        <form action="" (ngSubmit)=" submitForm()" novalidate class="{{ getFormClass(route) }} " [formGroup]="form">
            <div *ngFor="let field of template">
                <div class="row">
                    <div class="{{ field.wrapperClass }}">
                        <span>{{ field.label }}</span>
                    </div>
                    <ng-container *ngIf="route === 'calc' && field.type === 'button'">
                        <app-calc-content></app-calc-content>
                    </ng-container>
                    <app-form-field-builder [control]="$any(form.controls[field.field])" [field]="field"
                        class="{{ field.inputClass }}">
                    </app-form-field-builder>
                </div>
            </div>
        </form>
    </main>
</section>