<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A=="
        crossorigin="anonymous" />
</head>

<body id="app">
    <section id="login">
        <header>
            <nav class="navigation">
                <div>
                    <img src="assets/logo.png" alt="logo">
                </div>
                <div class="navigation__dropdown ">
                    <select class="language">
                        <option value="EN">EN</option>
                        <option value="PL">PL</option>
                    </select>
                </div>
            </nav>
        </header>
        <main class="container">
            <form action="" class="form">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Username" id="username" type="text" v-model='username'
                            class="validate">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="Password" id="password" type="password" v-model='password'
                            class="validate">
                        <label for="password">Password</label>
                    </div>
                    <div class="col s12">
                        <button v-click="login()" class="waves-effect waves-light btn-large col s12 button-login">Login</button>
                    </div>
                </div>
            </form>
            <p v-if = "loginStatus === success" class = "login login-success">Login successful</p>
            <p v-if = "loginStatus === error"  v-html="errorName" class = "login login-error"></p>
        </main>
    </section>
    <section id="calc">
        <main class="form-calc">
            <form action="" >
                <div class="row valign-wrapper">
                    <div class="col s6">
                        <span>Credit Amount in EUR</span>
                    </div>
                    <div class="col s6 calc-data">
                        <input  class="browser-default credit-data right" type="text"
                            v-model="creditAmount"/>
                         <span v-html="errorMessage"></span>
                    </div>
                </div>
                <div class="progress progress-calc">
                    <div class="determinate" style="width: 70%"></div>
                </div>
                <div class="row valign-wrapper">
                    <div class="col s6">
                        <span>Duration in months</span>
                    </div>
                    <div class="col s6 calc-data">
                        <input class="browser-default credit-data right" type="text"
                            v-model="duration"/>
                        <span v-html="errorMessage">Wrong value</span>
                    </div>
                </div>
                <div class="progress">
                    <div  class="determinate" style="width: 70%"></div>
                </div>

                <div class="row texts valign-wrapper">
                    <div class="col s6">
                        <span class="texts__main">Monthly rate</span>
                    </div>
                    <div class="col s6">
                        <p class="texts__secondary">from <span v-html="monthlyRateMin"></span><span>EUR</span> to <span v-html="monthlyRateMax"></span><span>EUR</span>
                        </p> 
                    </div>
                </div>
                <div class="row texts valign-wrapper">
                    <div class="col s6">
                        <span class="texts__main">Nominal interest</span>
                    </div>
                    <div class="col s6">
                        <p class="texts__secondary">from <span>5.67%</span> to <span>9.8%</span>
                        </p>
                    </div>
                </div>
                <div class="row buttons">
                    <button v-click="calculateRate()" class="col s6 waves-effect waves-light btn">Apply your loan</button>
                    <button v-click="calc()"class="col s3 push-s3 waves-effect waves-light btn">NEXT</button>
                </div>
            </form>
        </main>
    </section>
    <section id="step1">
        <div class="step-progress">
            <div class="container"> 
                <span>0%</span>
                <div class="progress">
                    <div class="determinate" style="width: 0%"></div>
                </div>
                <div class="info">
                    <p>Debt situation</p>
                    <p><span class="active">Applicant</span></p>
                    <p>Contact details</p>
                </div>
            </div>
        </div>
        <main class="container">
            <form action="" class="form-stepper" v-submit="method(ev)">
                <div class="row">
                    <div class="input-field col s6 push-s3 no-padding">
                        <span>Credit Purposes</span>
                        <select class="browser-default" v-model="creditPurpose">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="Mortgage">Mortgage</option>
                            <option value="Student Credit">Student Credit</option>
                            <option value="Car Credit">Car credit</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 push-s3 no-padding">
                        <span>Do you have any comments for your credit application?</span>
                        <textarea id="textarea1"
                            class="materialize-textarea" v-model="comments"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 push-s3 no-padding">
                        <span>Desired loan amount in EUR</span>
                        <input type="text" class="input-data" v-model="loanAmount"/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 push-s3 no-padding">
                        <span>Duration in months</span>
                        <input type="text" class="input-data" v-model="duration"/>
                    </div>
                </div>
                <div class="row">
                    <button v-click="checkCreditRate()" class="waves-effect waves-light btn-large col s6 push-s3 no-padding">Determine
                        credit rate</button>
                </div>
            </form>
        </main>
    </section>
    <section id="step2">
        <div class="step-progress">
            <div class="container">
                <span>20%</span>
                <div class="progress">
                    <div class="determinate" style="width: 0%"></div>
                </div>
                <div class="info">
                    <p>Debt situation</p>
                    <p><span class="active">Applicant</span></p>
                    <p>Contact details</p>
                </div>
            </div>
        </div>
        <main class="container">
            <h5 class="center-align">Who applies for the credit?</h5>
            <form action="" class="form-stepper">
                <div class="row checkbox">
                    <div class="col s6 push-s3">
                        <label>
                            <input type="radio" value="Myself" name="radio1" class="with-gap" v-model="applicant"/>
                            <span>Myself</span>
                        </label>
                    </div>
                </div>
                <div class="row checkbox">
                    <div class="col s6 push-s3">
                        <label>
                            <input type="radio" value="Me and my partner" name="radio1" class="with-gap" v-model="applicant"/>
                            <span>Me and my partner</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 push-s3 no-padding">
                        <span>What is your marital status</span>
                        <select class="browser-default no-padding" v-model="maritalStatus">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="Divorced">Divorced</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <h6 class="col push-s3 no-padding">Do you live in the same household?</h6>
                </div>
                <div class="row checkbox">
                    <div class="col s3 push-s3">
                        <label>
                            <input type="radio" class="with-gap" value="yes" name="radio2" v-model="sameHouseholdStatus"/>
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s3 push-s3">
                        <label>
                            <input  type="radio" class="with-gap" value="no" name="radio2" v-model="sameHouseholdStatus"/>
                            <span>No</span>
                        </label>
                    </div>
                </div>
                <div class="row buttons">
                    <button v-click = "back()" class="col s2 push-s3 waves-effect waves-light btn button-back">BACK</button>
                    <button v-click = "next()" class="col s2 push-s5 waves-effect waves-light btn">NEXT</button>
                </div>
            </form>
        </main>
    </section>
    <section id="step3">
<div class="step-progress">
    <div class="container">
        <span>30%</span>
        <div class="progress">
            <div class="determinate" style="width: 0%"></div>
        </div>
        <div class="info">
            <p>Debt situation</p>
            <p><span class="active">Applicant</span></p>
            <p>Contact details</p>
        </div>
    </div>
</div>
<main class="container step3">
    <h5 class="center-align">Your contact information</h5>
    <form action="" class="form-stepper">
        <div class="row">
            <div class="input-field col s6 push-s3 no-padding">
                <span>Title</span>
                <select class="browser-default no-padding" v-model="applicantTitle">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="Miss">Miss</option>
                    <option value="Mister">Mister</option>
                    <option value="No title">No Title</option>
                </select>
            </div>
        </div>
        <div class="row names">
            <p class="col push-s3 no-padding names">What is your name?</p>
        </div>
        <div class="row names">
            <div class="input-field col s6 push-s3 no-padding ">
                <input v-input="method(ev)" placeholder="First Name" id="first-name" type="text" v-model="applicantFirstName">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 push-s3 no-padding ">
                <input v-input="method(ev)" placeholder="Last Name" id="last-name" type="text" v-model="applicantLastName">
            </div>
        </div>
        <h5 class="center-align">Fill in the information about your partner</h5>
        <div class="row">
            <div class="input-field col s6 push-s3 no-padding">
                <span>Title</span>
                <select class="browser-default no-padding" v-model="partnerTitle">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="Miss">Miss</option>
                    <option value="Mister">Mister</option>
                    <option value="No title">No Title</option>
                </select>
            </div>
        </div>
        <div class="row names">
            <p class="col push-s3 no-padding names">What is your partner's name?</p>
        </div>
        <div class="row names">
            <div class="input-field col s6 push-s3 no-padding ">
                <input  placeholder="First Name" id="partner-first-name" type="text" v-model="partnerFirstName">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 push-s3 no-padding ">
                <input placeholder="Last Name" id="partner-last-name" type="text" v-model="partnerLastName">
            </div>
        </div>
        <div class="row buttons">
            <button v-click = "back()" class="col s2 push-s3 waves-effect waves-light btn button-back">BACK</button>
            <button v-click = "next()" class="col s2 push-s5 waves-effect waves-light btn">NEXT</button>
        </div>
    </form>
</main>
    </section>
    <section id="step4">
<div class="step-progress">
    <div class="container">
        <span>20%</span>
        <div class="progress">
            <div class="determinate" style="width: 0%"></div>
        </div>
        <div class="info">
            <p>Debt situation</p>
            <p><span class="active">Applicant</span></p>
            <p>Contact details</p>
        </div>
    </div>
</div>
<main class="container">
    <form action="" class="form-stepper" v-submit="method(ev)">
        <div class="row names">
            <p class="col push-s3 no-padding names">When were you born?</p>
        </div>
        <div class="row names">
            <div class="input-field col s6 push-s3 no-padding datepicker">
                <input  placeholder="Date of birth" id="dob" type="date" v-model="dateOfBirth">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 push-s3 no-padding">
                <span>What is your nationality?</span>
                <select id="nationality" class="browser-default no-padding" v-model="nationality">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="Polish">Polish</option>
                    <option value="German">German</option>
                    <option value="Czech">Czech</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 push-s3 no-padding">
                <span>Which residence permit do you have?</span>
                <select id="residence-permit" class="browser-default no-padding" v-model="residence">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="Poland">Poland</option>
                    <option value="Germany">Germany</option>
                    <option value="Czech Republic">Czech Republic</option>
                </select>
            </div>
        </div>
        <div class="row names">
            <p class="col push-s3 no-padding names">How long have you been resident in Poland?</p>
        </div>
        <div class="row names">
            <div class="input-field col s6 push-s3 no-padding datepicker">
                <input id="residence" type="text" v-model="residentPeriod">
            </div>
        </div>
        <div class="row buttons">
            <button v-click = "back()" class="col s2 push-s3 waves-effect waves-light btn button-back">BACK</button>
            <button v-click = "next()" class="col s2 push-s5 waves-effect waves-light btn">NEXT</button>
        </div>
    </form>
</main>
    </section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>